Host jumper
  IdentityFile {{ .IdentityFile }}
  Hostname {{ .HostName }}
  User root
  HostKeyAlgorithms +ssh-rsa
  PubkeyAcceptedAlgorithms +ssh-rsa
  StrictHostKeyChecking no
  ProxyCommand ssh root@localhost -p 2222 -i {{ .IdentityFile }} -W %h:%p -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedAlgorithms=+ssh-rsa